.vr-viewer {
  max-width: 1280px;
  width: 90%;
  height: 50vw;
  max-height: 600px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 1px 10px rgba(0,0,0,0.16);

  & > iframe {
    border: none;
  }
}

@media (max-width: 440px) {
  .vr-viewer {
    height: 100vw;
  }
}